<app-navigation></app-navigation>
<form [formGroup]="userForm" (ngSubmit)="submit()">
    <h3>Регистрация пользователя</h3>
    <p>Username</p>
    <input
        type="text"
        class="w-full" 
        pInputText placeholder="Введите имя пользователя"
        formControlName="username"
        appFocus
    >
    <p
        *ngIf="username.hasError('required') && username.touched"
        class="text-red-600 font-medium mb-2"
    >
        Поле обязательно для заполнения.
    </p>
    <p
        *ngIf="username.hasError('minlength') && username.touched"
        class="text-red-600 font-medium mb-2"
    >
        Минимальное количество символов {{ username.getError('minlength').requiredLength }}. Количество введенных символов {{ username.value.length }}
    </p>
    <div
        *ngIf="errorService.error$ | async as error"
    >
        <p 
            *ngFor="let err of error['username']"
            class="text-red-600 font-medium mb-2"
        >
            {{ err }}
        </p>
    </div>

    <p>Email</p>
    <input
        type="text"
        class="w-full"
        pInputText placeholder="Введите email"
        formControlName="email"
        appFocus
    >
    <p
        *ngIf="email.hasError('required') && email.touched"
        class="text-red-600 font-medium mb-2"
    >
        Поле обязательно для заполнения.
    </p>
    <p
        *ngIf="email.hasError('minlength') && email.touched"
        class="text-red-600 font-medium mb-2"
    >
        Минимальное количество символов {{ email.getError('minlength').requiredLength }}. Количество введенных символов {{ email.value.length }}
    </p>
    <div
        *ngIf="errorService.error$ | async as error"
    >
        <p 
            *ngFor="let err of error['email']"
            class="text-red-600 font-medium mb-2"
        >
            {{ err }}
        </p>
    </div>

    <div class="flex sm:flex-column align-items-start sm:align-items-start gap-3 sm:gap-2 m-1">
        <button
            pButton icon="pi pi-check" 
            class="md:align-self-end mb-2"
            label="Create"
            [disabled]="userForm.invalid"
        ></button>
    </div>
</form>